.journal-container {
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-journal-data {
    margin-bottom: 10px;
    padding-top: 20px;
}

.date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.weekly-target {
    margin: 20px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-color: transparent;
    box-shadow: none;
}

.weekly-target:hover {
    border-color: #485F73;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    background: #e0e0e0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
}

.button-small {
    padding: 5px 10px;
    font-size: 0.8rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

/* New style for Weekly Target */
.weekly-target {
    margin: 20px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.weekly-target:hover {
    border-color: #485F73;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.card {
    background-color: var(--mantine-color-body);
    margin-bottom: 10px;
    border: none;
}

.label {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.lead {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 700;
    font-size: rem(22px);
    line-height: 1;
}

.inner {
    display: flex;
}

.unit {
    font-size: 10px;
    font-weight: 400;
}
