.stats-container {
  margin: auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.charts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: var(--mantine-color-body);
  margin-bottom: 20px;
  border: none;
}

.label {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 700;
  font-size: rem(22px);
  line-height: 1;
}

.inner {
  display: flex;
}

@media (max-width: 576px) {
  .charts-container {
    flex-direction: column;
  }

  .card-container {
    flex-direction: column;
  }
}