@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body, html, div, h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Barlow', sans-serif;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #333; 
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Utilize full height of the screen */
}
.grid-container {
  display: flex;
  flex: 1; /* Grow to fill available space */
}

#header{
 margin: 5px 5px 25px 5px;
}
.navComponent{
  border-top: 0.1rem solid var(--mantine-color-dark-1);
}

#appTitle {
  color: #882255;
  font-size: 30px;
}

#appLogo {
  width: 35px;
  height: auto;
}

form {
  margin-bottom: 20px;
}


button.navigationButton {
  background-color: #882255; 
  color: white; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

button.navigationButton:hover {
  background-color: #ff66b2;
}

/* Style the success message */
p.successMessage {
  color: green;
  margin-bottom: 20px;
}

.componentContainer {
  flex: 1; /* Grow to fill remaining space */
  padding: 30px;
  background-color: #f0f0f0; 
  border-radius: 5px; 
  text-align: center;
}


.btn-primary {
  background-color: #882255 !important;
  border-color: #882255 !important;
}

.btn-primary:hover {
  background-color: #882255 !important; 
  border-color: #882255 !important; 
}

.btn-success {
  background-color: #882255 !important;
  border-color: #882255 !important;
}

.btn-success:hover {
  background-color: #f03087 !important;  
  border-color: #882255 !important; 
}

input#duration {
  width: 20%; 
  margin: auto; 
}

#appTitleLogin {
  width: 50px; /* Adjust the width of the logo */
  height: auto; /* Maintain aspect ratio */
  margin-right: 30px; /* Add space between h1 and img */
  width: 35px;
  height: auto;
}
.appTitleLogin header {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  margin-bottom: 20px; /* Adjust spacing */
}
.appTitleLogin header h1 {
 margin-left: 20px;
 color: #882255;
}

.form-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: lightgrey;
}

.navbar {
  height: rem(700px);
  width: rem(300px);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

#navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover,
  &[data-active] {
    background-color: #228be61a;
    color: var(--mantine-color-blue-light-color);

    .linkIcon {
      color: var(--mantine-color-blue-light-color);
    }
  }
}




.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}

.navbar-nav {
  margin: 0 auto !important;
}

.custom-nav-link {
  margin-right: 40px;
}

.signup {
  margin: 20px;
}


.login-container{
  max-width: 600px;
  margin: auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}